.banerContainer {
    position: relative;
    width: 100%;
    height: 200px; /* Adjust height as needed */
    overflow: hidden; /* Ensures no overflow from transition effects */
  }
  
  .imageWrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .imageWrapper img {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    animation: fade 0.5s ease-in-out; /* Apply the fade animation */
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white; /* White text */
    border: none;
    font-size: 2rem; /* Bold text */
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    cursor: pointer;
  }
  
  .left {
    left: 10px; /* Adjust positioning as needed */
  }
  
  .right {
    right: 10px; /* Adjust positioning as needed */
  }